# LLM related
torch
torchvision
torchaudio
xinference
tiktoken
protobuf
bitsandbytes
sentence-transformers
unstructured
python-docx
loguru
hydra-core
pytorch-lightning
lightning
natsort
loralib
soundfile

# Vector Database (Milvus)
langchain
langchain_community
langchain_milvus
pymilvus

# Semantic Text Split
langchain_experimental

# Document Load
pdfminer.six==20221105
pi-heif
unstructured-inference
pdf2image
pytesseract
effdet
google-cloud-vision
pikepdf
pypdf
openpyxl
python-pptx

# Traditional Database (PostgreSQL)
sqlalchemy
asyncpg
redis

# Backend
fastapi
dotenv
starlette
colorlog
pydantic-settings
