# LLM related
torch
torchvision
torchaudio
xinference
tiktoken
protobuf
bitsandbytes
sentence-transformers
unstructured
python-docx

# Database Vector
langchain
langchain_community
langchain_milvus
pymilvus

# Database Traditional
sqlalchemy
psycopg2-binary

# Backend
fastapi
dotenv
colorlog