# Environments
torch
torchvision
torchaudio


# LLM related
xinference
tiktoken
protobuf
bitsandbytes
sentence-transformers
unstructured
python-docx


# Database
langchain
langchain_community

chromadb # for refactor dev
langchain-chroma # for refactor dev

pymilvus
langchain_milvus

# Backend
fastapi
dotenv
sqlalchemy
colorlog