:root {
  --color-bg-main: #f5f6fa;
  --color-bg-vice: #f1f2f6;
  --color-bg-addition: #dde4ed;
  --color-bg-reverse: #ecf1f7;
  --color-text-gentle: #6b7280;
  --color-text-heavy: #111827;
  --color-ametrine: #ffc08d;
}

html.dark {
  --color-bg-main: #333030;
  --color-bg-vice: #28231a;
  --color-bg-addition: #2f3542;
  --color-bg-reverse: #484848;
  --color-text-gentle: #9ca3af;
  --color-text-heavy: #f9fafb;
  --color-ametrine: #a29bfe;
}
