@import "tailwindcss";

@theme {
  --color-positive-low: #eaca9e;
  --color-positive-middle: #f1ac7f;
  --color-positive-high: #f9ad54;

  --color-negative-low: #547af9;
  --color-negative-middle: #5462f9;
  --color-negative-high: #5f54f9;
}

@font-face {
  font-family: 'LXGW WenKai';
  src: url('./assets/fonts/LXGWWenKai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai';
  src: url('./assets/fonts/LXGWWenKai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai';
  src: url('./assets/fonts/LXGWWenKai-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ========== 霞鹜文楷等宽 ========== */
@font-face {
  font-family: 'LXGW WenKai Mono';
  src: url('./assets/fonts/LXGWWenKaiMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai Mono';
  src: url('./assets/fonts/LXGWWenKaiMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai Mono';
  src: url('./assets/fonts/LXGWWenKaiMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'LXGW WenKai', sans-serif;
  --font-mono: 'LXGW WenKai Mono', monospace;
}